.bal {
  width: 100%;
  height: 98vh !important;
  position: relative;
  top: 0;
  z-index: 0 !important;
}
.Glitch {
  pointer-events: none !important;
}

.graincontain {
  top: 0;
  display: flex;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 85%;
  pointer-events: none;
}

.bg-container {
  display: block;
  height: 300%;
  left: 100%;
  top: 100%;
  width: 300%;
  z-index: -1;
  pointer-events: none;
  opacity: 95%;
  animation: noise 10s steps(10) infinite;
}

.arrow span {
  text-align: center;
  cursor: pointer;
  font-size: 10vw;
  width: 100%;
  height: 10%;
}
.clickclick {
  cursor: pointer;
}
.break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
  height: 60vh;
  mix-blend-mode: difference;

  h4 {
    letter-spacing: 2.5vw;
    color: #000000 !important;
    margin: 50px 0 5px 0;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    background: #ffffff8a;
    backdrop-filter: blur(13px);
  }
}

.loldviusdvbisdbu {
  color: #eee;
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: #eee;
}

.skill {
  position: relative;
  z-index: 3;
  margin-top: 10%;
  margin-left: 20%;
  width: 60%;
  display: flex;
  flex-direction: row;

  .soft {
    width: 70%;
    p {
      width: 90%;
      text-align: justify;
    }
  }
  .hard {
    ul {
      list-style-type: none !important;
      padding: 0;
    }
    width: 30%;
  }
}

.projectarrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selecwork {
  color: #eee;
  h5 {
    margin-left: 10px;
    color: rgb(170, 170, 170);
  }

  span {
    line-height: 1em;
    font-size: 10vw;
    h4 {
      position: relative;
      margin-top: -10vw;
      display: inline;
      color: rgb(66, 66, 66) !important;
    }
  }
}

.card {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .white,
  .black {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 20vw;
  }
  .white {
    transform: rotate(-30deg);
  }
  .black {
    transform: rotate(-30deg);
  }
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

.imgtext {
  margin-top: 100px;
  display: flex;
  width: 60%;
  margin-left: 20%;
  justify-content: space-between;

  align-items: center;
}
.text {
  h5 {
    color: #7263fa;
  }
  width: 60%;
}

.myimage {
  width: 40%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 768px) {
  .imgtext {
    margin-top: 100px;
    display: flex;
    width: 90%;
    margin-left: 2%;
    justify-content: space-between;

    align-items: center;
  }
  .text {
    position: relative;
    z-index: 3;
    h5 {
      color: #7263fa;
    }
    width: 60%;
  }

  .myimage {
    pointer-events: none;
    width: 40%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    .white,
    .black {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 40vw;
      height: 30vw;
    }
    .white {
      margin-top: 370px;
      transform: rotate(-30deg);
    }
    .black {
      display: none;
    }
  }
  .skill {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;

    .soft {
      width: 100%;
      p {
        width: 100%;
        text-align: justify;
      }
    }
    .hard {
      width: 100%;
      ul {
        list-style-type: none !important;
        padding: 0;
      }
    }
  }

  .break {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 40vh;
  }

  .arrow span {
    text-align: center;
    cursor: pointer;
    font-size: 10vh;
  }

  .selecwork {
    color: #eee;
    h5 {
      margin-left: 0px;
      color: rgb(170, 170, 170);
    }
    span {
      font-size: 10vw;
    }
  }
}
